main{
    max-width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    max-width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding:0em 2em 2em 2em;
    border-radius:20px;
    background-color:var(--deep-black);
    box-shadow: 0px 0px 10px var(--neon-purple);
    color:rgb(217, 217, 217);
}
.contact-container h1,h2,h3,h4,h5{
    margin:0;
}
.contact-container img{
    max-height:100px;
    border-radius:100%;
    padding:7px;
    border:1px solid var(--neon-purple);
    box-shadow: 0px 0px 10px var(--neon-purple);
    margin-top:3vh;
}
.contact-container header{
    width:300%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:0;
    background-color: var(--light-black);
    box-shadow: 0px 3.3vh var(--light-black);
}

.contact-container .address{
    font-size:.8em;
    margin-bottom:2vh;
}